body{
	margin: 0;
	height: 100vh;
	overflow: hidden;
	touch-action: none;
	font-family: lato, sans-serif;
	font-size: 10pt;
}

#section-selector-container{
	position: fixed;
	width: 70px;
	right: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px 0;
}

.section-selector{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	/*
	background-color: rgb(100,100,100);
	transition: background-color 0.5s;
	*/

}
.section-selector img{
	filter: drop-shadow(0 0 0px black) opacity(70%) hue-rotate(-70deg);
	transition: filter 0.5s;
}
.section-selector.selected img{
	filter: drop-shadow(0 0 5px black) opacity(100%) hue-rotate(0deg);
}

.section-selector.selected{
	/*
	background-color: rgb(255, 255, 255);
	*/
}

#sections-container{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100vw;
	touch-action: none;
}

.spacer{
	position: relative;
	height: 600px;
	width: 100vw;
	z-index: 500;
	background-color: #335441;
}

.section{
	height: 100vh;
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	touch-action: none;
}

.content-background{
	position: absolute;
	z-index: -500;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: "linear-gradient(0deg, hsl(181, 100%, 90%) 0%, hsl(200, 100%, 70%) 100%)"
}

.section-background{
	position: absolute;
	z-index: -1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #335441;
}

.section-content{
	position: relative;
	height: min(100vw, 100vh);
	width: min(100vw, 100vh);
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px 0;
	z-index: 200;
}

.section-content.background{
	z-index: -200;
}

.animation-layer{
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scale(1.78);
	max-height: 1920px;
	max-width: 1920px;
	pointer-events: none;
	overflow: hidden;
}

.scroll-arrow{
	position: relative;
	margin-top: -20px;
	width: 100px;
}

.block{
	margin: 5%;
}

#header{
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #0a4f38;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #1c2837;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


#footer a{
	color: white;
	padding: 3px;
	text-decoration: none;
}


#header a{
	color: white;
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;
	text-transform: uppercase;
}

#header a img{
	height: 15px;
	padding: 10px;
}

.brand-strip{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100px;
}

.brand-strip-footer{
	display: none;
	position: absolute;
	bottom: 100px;
	right: 0;
	height: 100px;
}

.bushes{
	position: absolute;
	width: calc(min(1950px, calc(1.85 * 100vh)));
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 800;
}

.bush{
	height: 100vh;
}

.front{
	z-index: 1000;
}
